body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	background-color: rgb(38, 107, 38);
	text-align: center;
	font-weight: bold;
}

h1 {
	font-size: 100px;
    color: goldenrod;
	margin-top: 60px;
}

p {
	color: white;
	font-size: 50px;
	padding: 20px;
}

button {
	width: 350px;
	color: #016f32;
	font-size: 50px;
	background-color: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
	margin: 10px;
}
	

#message-el {
    font-style: italic;
}
